# EditorConfig for kio-s3 (KDE coding style)
# https://community.kde.org/Policies/Frameworks_Coding_Style

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,c}]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 160

[*.{qml,js}]
indent_style = space
indent_size = 4

[*.{json}]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.cmake]
indent_style = space
indent_size = 4
