# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Elvis Angelaccio <elvis.angelaccio@kde.org>
[Desktop Entry]
Icon=folder-network
Name=Amazon S3
Name[ar]=أمازون اس3
Name[ca]=Amazon S3
Name[ca@valencia]=Amazon S3
Name[cs]=Amazon S3
Name[de]=Amazon S3
Name[el]=Amazon S3
Name[en_GB]=Amazon S3
Name[es]=Amazon S3
Name[eu]=Amazon S3
Name[fi]=Amazon S3
Name[fr]=Amazon S3
Name[gl]=Amazon S3
Name[hi]=एमेज़ॉन एस३
Name[hu]=Amazon S3
Name[it]=Amazon S3
Name[ka]=Amazon S3
Name[ko]=Amazon S3
Name[nl]=Amazon S3
Name[nn]=Amazon S3
Name[pl]=Amazon S3
Name[pt]=Amazon S3
Name[pt_BR]=Amazon S3
Name[ro]=Amazon S3
Name[ru]=Amazon S3
Name[sk]=Amazon S3
Name[sl]=Amazon S3
Name[sv]=Amazon S3
Name[tr]=Amazon S3
Name[uk]=Amazon S3
Name[x-test]=xxAmazon S3xx
Name[zh_CN]=Amazon S3
Type=Link
URL=s3://
