# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Elvis Angelaccio <elvis.angelaccio@kde.org>
[Desktop Entry]
Icon=folder-network
Name=Amazon S3
Name[ca]=Amazon S3
Name[ca@valencia]=Amazon S3
Name[es]=Amazon S3
Name[fr]=Amazon S3
Name[nl]=Amazon S3
Name[nn]=Amazon S3
Name[sl]=Amazon S3
Name[sv]=Amazon S3
Name[uk]=Amazon S3
Name[x-test]=xxAmazon S3xx
Type=Link
URL=s3://
